[Keys]
WeatherFlow = 
CheckWX = 

[Station]
StationID = 
TempestID =
SkyID = 
OutAirID = 
InAirID = 
TempestHeight = 
SkyHeight = 
OutAirHeight = 
Latitude = 51.5072
Longitude = 0.1276
Elevation = 11
Timezone = Europe/London
Name = London, UK

[Units]
Temp = c
Pressure = mb
Wind = mph
Direction = cardinal
Precip = mm
Distance = km
Other = metric

[Display]
TimeFormat = 24 hr
DateFormat = Mon, 01 Jan 0000
LightningPanel = 1
IndoorTemp = 0
Cursor = 1
Border = 1
Fullscreen = 1
Width = 800
Height = 480

[FeelsLike]
ExtremelyCold = -5
FreezingCold = 0
VeryCold = 5
Cold = 10
Mild = 15
Warm = 20
Hot = 25
VeryHot = 30

[PrimaryPanels]
PanelOne = Forecast
PanelTwo = Temperature
PanelThree = WindSpeed
PanelFour = SunriseSunset
PanelFive = Rainfall
PanelSix = Barometer

[SecondaryPanels]
PanelOne = Sager
PanelTwo = 
PanelThree = 
PanelFour = MoonPhase
PanelFive = 
PanelSix = Lightning

[System]
BarometerMax = 1050
BarometerMin = 950
SagerInterval = 6
Timeout = 20
Hardware = Pi4
Version = v22.12.3

